<%= form_for content_type, :html => {:class => 'bp'} do |f| -%>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>

  <button type="submit" class="button submit">Save</button>
<% end -%>