<%= form_for content_type, :html => {:class => 'bp'} do |f| -%>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <button type="submit" class="button positive">
    <img src="/images/buttons/tick.png" alt=""/> Save
  </button>
<% end -%>