<h2>Content Types</h2>

<table>
  <% @content_types.each do |content_type| %>
    <tr>
      <td class="name">
        <%= link_to content_type.name, content_type %>
      </td>
      <td class="actions">
        <%= link_to "Edit", edit_content_type_path(content_type) %>
        <%= link_to "Delete", content_type,
                  :confirm => "Are you sure?", :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>