<h2>New Content Type</h2>

<p>Fill in the values below to create a new content type</p>

<%= form_for @content_type do |f| -%>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Create" %>
<% end -%>