/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../.rvm/gems/ruby-1.9.2-p0@cuke-cms/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, .button, .button.positive, .button.negative {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png?1300008201') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../.rvm/gems/ruby-1.9.2-p0@cuke-cms/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, .button::-moz-focus-inner, .button.positive::-moz-focus-inner, .button.negative::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../.rvm/gems/ruby-1.9.2-p0@cuke-cms/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, .button:focus, .button.positive:focus, .button.negative:focus {
  outline: none;
}

/* line 5, ../../../app/stylesheets/application.scss */
.button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #6666ff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(10%, #b3b3ff), color-stop(50%, #5757ff), color-stop(50%, #4747ff), color-stop(100%, #7a7aff));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #b3b3ff 10%, #5757ff 50%, #4747ff 50%, #7a7aff 100%);
  background-image: linear-gradient(top, #ffffff 0%, #b3b3ff 10%, #5757ff 50%, #4747ff 50%, #7a7aff 100%);
  border-color: #1a1aff;
  text-shadow: #b3b3ff 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.7) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.7) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.7) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.7) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 120, ../../../../../.rvm/gems/ruby-1.9.2-p0@cuke-cms/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button, .button:visited {
  color: #222222;
}
/* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p0@cuke-cms/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button:hover, .button:focus {
  background-color: #5757ff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(10%, #a3a3ff), color-stop(50%, #4747ff), color-stop(50%, #3838ff), color-stop(100%, #6b6bff));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #a3a3ff 10%, #4747ff 50%, #3838ff 50%, #6b6bff 100%);
  background-image: linear-gradient(top, #ffffff 0%, #a3a3ff 10%, #4747ff 50%, #3838ff 50%, #6b6bff 100%);
  border-color: #0a0aff;
  text-shadow: #a3a3ff 0px 1px 1px;
}
/* line 120, ../../../../../.rvm/gems/ruby-1.9.2-p0@cuke-cms/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button:hover, .button:hover:visited, .button:focus, .button:focus:visited {
  color: #222222;
}
/* line 36, ../../../../../.rvm/gems/ruby-1.9.2-p0@cuke-cms/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button:active {
  background-color: #4747ff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #4747ff), color-stop(30%, #5252ff), color-stop(50%, #3d3dff), color-stop(50%, #2e2eff), color-stop(100%, #7070ff));
  background-image: -moz-linear-gradient(top, #4747ff 0%, #5252ff 30%, #3d3dff 50%, #2e2eff 50%, #7070ff 100%);
  background-image: linear-gradient(top, #4747ff 0%, #5252ff 30%, #3d3dff 50%, #2e2eff 50%, #7070ff 100%);
  border-color: #0000fa;
  text-shadow: #9494ff 0px -1px -1px;
  -moz-box-shadow: #1a1aff 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #1a1aff 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #1a1aff 0 0.08em 0.1em 1px inset;
  box-shadow: #1a1aff 0 0.08em 0.1em 1px inset;
}
/* line 120, ../../../../../.rvm/gems/ruby-1.9.2-p0@cuke-cms/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button:active, .button:active:visited {
  color: #222222;
}
/* line 8, ../../../app/stylesheets/application.scss */
.button.positive {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #66ff66;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(10%, #b3ffb3), color-stop(50%, #57ff57), color-stop(50%, #47ff47), color-stop(100%, #7aff7a));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #b3ffb3 10%, #57ff57 50%, #47ff47 50%, #7aff7a 100%);
  background-image: linear-gradient(top, #ffffff 0%, #b3ffb3 10%, #57ff57 50%, #47ff47 50%, #7aff7a 100%);
  border-color: #1aff1a;
  text-shadow: #b3ffb3 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.7) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.7) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.7) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.7) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 120, ../../../../../.rvm/gems/ruby-1.9.2-p0@cuke-cms/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button.positive, .button.positive:visited {
  color: #222222;
}
/* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p0@cuke-cms/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button.positive:hover, .button.positive:focus {
  background-color: #57ff57;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(10%, #a3ffa3), color-stop(50%, #47ff47), color-stop(50%, #38ff38), color-stop(100%, #6bff6b));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #a3ffa3 10%, #47ff47 50%, #38ff38 50%, #6bff6b 100%);
  background-image: linear-gradient(top, #ffffff 0%, #a3ffa3 10%, #47ff47 50%, #38ff38 50%, #6bff6b 100%);
  border-color: #0aff0a;
  text-shadow: #a3ffa3 0px 1px 1px;
}
/* line 120, ../../../../../.rvm/gems/ruby-1.9.2-p0@cuke-cms/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button.positive:hover, .button.positive:hover:visited, .button.positive:focus, .button.positive:focus:visited {
  color: #222222;
}
/* line 36, ../../../../../.rvm/gems/ruby-1.9.2-p0@cuke-cms/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button.positive:active {
  background-color: #47ff47;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #47ff47), color-stop(30%, #52ff52), color-stop(50%, #3dff3d), color-stop(50%, #2eff2e), color-stop(100%, #70ff70));
  background-image: -moz-linear-gradient(top, #47ff47 0%, #52ff52 30%, #3dff3d 50%, #2eff2e 50%, #70ff70 100%);
  background-image: linear-gradient(top, #47ff47 0%, #52ff52 30%, #3dff3d 50%, #2eff2e 50%, #70ff70 100%);
  border-color: #00fa00;
  text-shadow: #94ff94 0px -1px -1px;
  -moz-box-shadow: #1aff1a 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #1aff1a 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #1aff1a 0 0.08em 0.1em 1px inset;
  box-shadow: #1aff1a 0 0.08em 0.1em 1px inset;
}
/* line 120, ../../../../../.rvm/gems/ruby-1.9.2-p0@cuke-cms/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button.positive:active, .button.positive:active:visited {
  color: #222222;
}
/* line 12, ../../../app/stylesheets/application.scss */
.button.negative {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #ff6666;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(10%, #ffb3b3), color-stop(50%, #ff5757), color-stop(50%, #ff4747), color-stop(100%, #ff7a7a));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffb3b3 10%, #ff5757 50%, #ff4747 50%, #ff7a7a 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ffb3b3 10%, #ff5757 50%, #ff4747 50%, #ff7a7a 100%);
  border-color: #ff1a1a;
  text-shadow: #ffb3b3 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.7) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.7) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.7) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.7) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 120, ../../../../../.rvm/gems/ruby-1.9.2-p0@cuke-cms/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button.negative, .button.negative:visited {
  color: #222222;
}
/* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p0@cuke-cms/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button.negative:hover, .button.negative:focus {
  background-color: #ff5757;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(10%, #ffa3a3), color-stop(50%, #ff4747), color-stop(50%, #ff3838), color-stop(100%, #ff6b6b));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffa3a3 10%, #ff4747 50%, #ff3838 50%, #ff6b6b 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ffa3a3 10%, #ff4747 50%, #ff3838 50%, #ff6b6b 100%);
  border-color: #ff0a0a;
  text-shadow: #ffa3a3 0px 1px 1px;
}
/* line 120, ../../../../../.rvm/gems/ruby-1.9.2-p0@cuke-cms/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button.negative:hover, .button.negative:hover:visited, .button.negative:focus, .button.negative:focus:visited {
  color: #222222;
}
/* line 36, ../../../../../.rvm/gems/ruby-1.9.2-p0@cuke-cms/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button.negative:active {
  background-color: #ff4747;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ff4747), color-stop(30%, #ff5252), color-stop(50%, #ff3d3d), color-stop(50%, #ff2e2e), color-stop(100%, #ff7070));
  background-image: -moz-linear-gradient(top, #ff4747 0%, #ff5252 30%, #ff3d3d 50%, #ff2e2e 50%, #ff7070 100%);
  background-image: linear-gradient(top, #ff4747 0%, #ff5252 30%, #ff3d3d 50%, #ff2e2e 50%, #ff7070 100%);
  border-color: #fa0000;
  text-shadow: #ff9494 0px -1px -1px;
  -moz-box-shadow: #ff1a1a 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #ff1a1a 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #ff1a1a 0 0.08em 0.1em 1px inset;
  box-shadow: #ff1a1a 0 0.08em 0.1em 1px inset;
}
/* line 120, ../../../../../.rvm/gems/ruby-1.9.2-p0@cuke-cms/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button.negative:active, .button.negative:active:visited {
  color: #222222;
}
