@import "partials/admin_buttons";
@import "compass/utilities/tables";
@import "compass/utilities/links";
a{
  @include link-colors(#00c, #0cc, #c0c, #ccc, #cc0);
}

.admin {
  @include blueprint-grid;
  font-family:"Myriad Pro", Arial;

  .container {
    @include showgrid;
  }


  #header {
    height:112px;
    margin-top:16px;
    @include column($blueprint-grid-columns);

    #logo {
      @include column(8);

      #sitename {
        text-align:center;
        margin-bottom:.16em;
      }

      #tagline {
        color:#999;
        font-style:italic;
        text-align:center;
      }
    }

    #nav {
      @include column(14);
      @include push(2);
      @include last;

      margin-top:20px;

      ul {

      border:none;
      margin:0;
      padding-left:0;

        li {

          @include column(3);

          list-style-position:inside;
          list-style-type:none;
          display:inline-block;
          vertical-align:top;
          text-align:center;

          ul {
            padding-left:0;

            li {
              display:none;
              text-align:left;
              font-size:.75em;
            }
          }
        }
      }
    }
  }
  #sidebar {
    @include column(8);
    @include pull(24, true);
  }
  #content {
    @include prepend(8);
    @include column(16, true);
    @include last;
    position:relative;

    h2{
      @include column(6);
    
      display:inline-block;
      color:#999;
    }

    #create_content_type {
      margin-top:6px;
      display:inline-block;
    }
    table{
          @include column(15);
          @include last;
          @include table-scaffolding;
          @include box-shadow;
          $table-color: #ffffff;
          @include outer-table-borders(1px, #ccc);
          @include inner-table-borders(1px, #999);
          @include alternating-rows-and-columns(#ffffff,  #efefef, transparent, #ffffff);
          
          border-collapse:collapse;
          width:561px;
          
          thead th {
            border-right:none;
            border-left:none;
            border-bottom:1px solid #999;
            color:#666;
            @include linear-gradient(color-stops(white, #ccc));
            
          }
          thead th:first-child {
            border-right:none;
            border-left:none;
            border-bottom:1px solid #999;
          }
          
          .name {
            width:360px;
            padding-right:10px;
            margin:0;
            margin-bottom:0;
          }
          .actions {
            width:201px;
          }

    }
  }

  #footer {
    @include column($blueprint-grid-columns);

    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    #footnote {
      font-size: 8px;
    }
  }
}
