@import "partials/rounded";
@import "partials/colors";
@import "partials/rounded";
@import "partials/admin_buttons";
@import "partials/admin_icons";
@import "compass/utilities/tables";
@import "partials/_admin_mixes";
@import "partials/_form";


body.admin {
  @include blueprint-grid;
  background-color:#EFEFEF;
  @include linear-gradient(color-stops(#EFEFEF, white, #EFEFEF));
  width:100%;  
  a,a:visited {
    color:$dark_grey;
    text-decoration:none;
  }
  
  a:hover{
    color:$dark_color;
    text-decoration:underline  !important;
  }
  a.selected{
    color:$dark_color;
    text-decoration:underline !important;
  }
  .wrapper{
    @include round-corners(4px);
    
    .container {
      position:relative;
      overflow:visible;
    }

    #header {
      @include full_width();
      height:4em;
      margin-top:0;

      #logo {
        @include column($blueprint-grid-columns/3);

        h1 {
          background: transparent url(/images/logo.png) no-repeat;
          text-indent:-99999px;
          height:70px;
          width:300px;
          display:inline-block;
          margin-top:10px;
          color:$grey;
        }
        p {
          display:none;
        }
      }

      #nav {
        @include column($blueprint-grid-columns/2 + 2);
        margin:0;
        padding:0;
        position:relative;

        li {
          display:inline-block;
          margin:1.5em 1.5em 0;

          a {
            @include round-corners(4px);
            font-size:1.1em;
            padding:.25em .75em;
            border-width: 1px;
            border-style: solid;
            border-color:transparent;
          }
          a.selected,
          a.hover,
          a:hover {
            text-decoration:none !important;
            background-color:white;
            padding:.25em .75em;
            border-color: #CCCCCC #EEEEEE #EEEEEE #CCCCCC;
            border-style: solid;
            border-width: 1px;
          }
          ul {
            display:none;
            position:absolute;
            top:2em;
            left:0;
            width:100%;

            li {
              a {
                font-size:.9em;
                padding:0;
                background-color:transparent;
                color:$dark_color;
              }
              a.hover,
              a:hover {
                text-decoration:none !important;
                background-color:transparent;
                padding:0;
              }
            }
          }

        }
      }
    }
    #header.long {
      height:7em;
    }


    #main {
      @include full_width();
      @include box-shadow($light-grey, 2px, 2px, 4px);
      @include round-corners(12px);
      background-color:white;
      border: 1px solid $light-grey;
      overflow:visible;
      min-height:420px;

      #breadcrumbs {
        @include column($blueprint-grid-columns - 1);
        margin-top:1em;
        font-size:.9em;

          a {
            color:$light_grey;
          }
      }
      #content {
        @include column($blueprint-grid-columns - $blueprint-grid-columns/3);      

        h2 {
          width:100%;
          color:$grey;
          margin-bottom:.5em;
        }

        .create_item{
          @include column($blueprint-grid-columns/4);
          @include append(1);
          @include last;
          margin:.75em 0 .5em;
          vertical-align:bottom;
          display:none;
        }
        .index_table{
          width:100%;

          table{
            $table-color: #efefef;
            @include alternating-rows-and-columns($table-color, white, transparent);
            @include outer-table-borders(1px, $grey);
            @include inner-table-borders(1px, $light-grey);
            thead th {
              border-right:none !important;
              color:#999;
            }
            tbody td {
              border-right:none !important;
            }
          }  
        }
      }
      #sidebar {
        @include column($blueprint-grid-columns/4 - 1);
        @include prepend(1);
        @include last;
        margin-top:1em;
        #subnav{
          h3 {
            color:$grey;
          }
          ul {
            padding:0 0 0 1em;
          }
        }

       }
    }
  }
  
}
